# **심사문제**

### u22

표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1`~`20, 두 번째 입력 값의 범위는 10`~`30이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 첫 번째 정수부터 두 번째 정수까지를 지수로 하는 2의 거듭제곱 리스트를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 리스트의 두 번째 요소와 뒤에서 두 번째 요소는 삭제한 뒤 출력하세요. 출력 결과는 리스트 형태라야 합니다.

In [13]:
a, b = map(int, input().split())
list = []

for i in range(a, b+1):
    list.append(2**i)
list.remove(list[1])
list.remove(list[-2])
print(list)

del list ## 23번 문제 4번째 줄에서 에서 오류발생 (구글링)

10 20
[1024, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 1048576]

### u23

표준 입력으로 2차원 리스트의 가로(col)와 세로(row)가 입력되고 그 다음 줄부터 리스트의 요소로 들어갈 문자가 입력됩니다. 이때 2차원 리스트 안에서 *는 지뢰이고 .은 지뢰가 아닙니다. 지뢰가 아닌 요소에는 인접한 지뢰의 개수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).

여러 줄을 입력 받으려면 다음과 같이 for 반복문에서 input을 호출한 뒤 append로 각 줄을 추가하면 됩니다(list 안에 문자열을 넣으면 문자열이 문자 리스트로 변환됩니다).

matrix = []
for i in range(row):
    matrix.append(list(input()))

이 문제는 지금까지 심사문제 중에서 가장 어렵습니다. 처음 풀어보는 경우 대략 두 시간은 걸립니다. 시간을 두고 천천히 고민해서 풀어보세요. 지금까지 학습한 내용을 모두 동원해야 풀 수 있으며 막힐 때는 지금까지 학습한 내용을 다시 복습하면서 힌트를 찾아보세요.

In [14]:
col, row = map(int, input().split())
matrix = []
for a in range(row):
    matrix.append(list(input()))
    
for i in range(row):
  for k in range(col):
    if matrix[i][k] == '.':
      matrix[i][k] = 0
      for y in range(i - 1, i + 2):      
        for x in range(k - 1, k + 2):
          if y < 0 or x < 0 or y >= row or x >= col:
            continue
          elif matrix[y][x] == '*':
            matrix[i][k] += 1
      print(matrix[i][k], end='')
    else:
      matrix[i][k] = '*'
      print(matrix[i][k], end='')
  print()

5 5
..*..
...*.
.*...
.***.
*.*..
01*21
123*1
2*532
3***1
*4*31

### u24 (1)

표준 입력으로 문자열이 입력됩니다. 입력된 문자열에서 'the'의 개수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 모든 문자가 소문자인 'the'만 찾으면 되며 'them', 'there', 'their' 등은 포함하지 않아야 합니다.

In [44]:
words = []
words = input().split()
count = 0
for i in range(len(words)):
  if words[i].strip(',.') == 'the':
    count += 1
print(count)

the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the.
6

### u24 (2)

표준 입력으로 물품 가격 여러 개가 문자열 한 줄로 입력되고, 각 가격은 ;(세미콜론)으로 구분되어 있습니다. 입력된 가격을 높은 가격순으로 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 이때 가격은 길이를 9로 만든 뒤 오른쪽으로 정렬하고 천단위로 ,(콤마)를 넣으세요.

In [73]:
cost = map(int, input().split(';')) 
prices = []

prices.extend(cost)
prices.sort(reverse=True)

for i in prices:
  print('%9s' % format(i, ','))

51900;83000;158000;367500;250000;59200;128500;1304000
1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

### u25

표준 입력으로 문자열 여러 개와 숫자 여러 개가 두 줄로 입력되고, 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성합니다. 다음 코드를 완성하여 딕셔너리에서 키가 'delta'인 키-값 쌍과 값이 30인 키-값 쌍을 삭제하도록 만드세요.

In [79]:
keys = input().split() 
values = map(int, input().split())
x = dict(zip(keys, values))

del(x['delta'])
for key,value in x.items():
  if value == 30:
      temp = key

del(x[temp])

print(x)

alpha bravo charlie delta echo foxtrot golf
30 40 50 60 70 80 90
{'bravo': 40, 'charlie': 50, 'echo': 70, 'foxtrot': 80, 'golf': 90}

### u26

표준 입력으로 양의 정수 두 개가 입력됩니다. 다음 소스 코드를 완성하여 두 숫자의 공약수를 세트 형태로 구하도록 만드세요. 단, 최종 결과는 공약수의 합으로 판단합니다.

In [95]:
num1, num2 = map(int, input().split())
a = {i for i in range(1, num1 + 1) if num1 % i == 0}
b = {i for i in range(1, num2 + 1) if num2 % i == 0}

100 200

In [96]:
divisor = a & b
 
result = 0
if type(divisor) == set:
    result = sum(divisor)
 
print(result)

217